<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/aboutPage.css"    />
    <title>About</title>
</head>
<body>

   
    <div class="link-button">
        <a href="signUpPage.html" class="link-button">Sign Up</a>
        <a href="logInPage.html" class="link-button">Log In</a>
    </div>
    <div class="header">
        <h4>About StudyHub</h4>
        <img src="/images/studying.jpg" alt="young adults studying">
    </div>
    <div>
        <h2>Hello and welcome to StudyHub,
         a project created by Maryam Bouamama, 
         Andrei Solomon Duque, and Emily Madsen with the goal 
          of providing a safe and accessible educational
           platform for college students. Over the span
            of eight weeks, with the mentoring support
             of Luke Lyu and Codeday, we worked tirelessly
              to bring our vision to life. </h2>
    </div>
    

    
</body>
</html>