<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyHub Sign Up Page</title>
    <link rel="stylesheet" href="/css/signUpLogIn.css">
</head>
<body>

    <div class="container" >
        <div class="left-panel">
            <h1>StudyHub
            </h1>
            <hr>
            <p>Sign Up With:</p>
            <button class="social-button">FaceBook</button>
            <button class="social-button">Twitter</button>
            <button class="social-button">Google</button>
            <p>Already have an account? <a href="logInPage.html">Log In</a></p>
        </div>
        <div class="right-panel">
            <form>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Placeholder">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Placeholder">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Placeholder">
                <p>By submitting the form you agree to our <a href="#">Terms of Service</a></p>
                <button type="submit">Join</button>
            </form>
        </div>
    </div>
</body>
</html>

<!--css code-->
